*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sky Text', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 1rem;
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 13%);
}

.dark body {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 87%);
}

.dark input, .dark textarea {
  color: hsl(0, 0%, 87%);
  border: 1px solid hsl(0, 0%, 87%);
  background-color: hsl(0, 0%, 16%);
}